#header {
  padding-bottom: 40px;
  .logo {
    display: flex;
    padding: 24px 13px 1px;
    img {
      animation-name: animation;
      animation-duration: 0.9s;
      animation-iteration-count: infinite;
      width: 32px;
      height: 32px;
      &:hover {
        animation-duration: 2s;
        animation-iteration-count: 0;
      }
    }
    h2 {
      color: $colorblack;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin-left: 20px;
    }
  }
  .FormList {
    padding: 26px 13px 1px;
    list-style: none;
    display: flex;
    justify-content: unset;
    align-items: center;
    .class {
      img {
        transition: 0.4s linear;
        line-height: 13px;
        width: 13px;
        height: 13px;
        &:hover {
          transform: rotate(180deg);
        }
      }
    }
    li {
      img {
        margin-left: -10px;
      }
      a {
        padding: 11px 26px 13px 23px;
        text-decoration: none;
        color: $colorGray;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;

        line-break: 16px;
      }
    }
    .headicon {
      img {
        margin-left: 60px;
      }
    }
  }
  @keyframes animation {
    0% {
      transform: scale(1.2);
    }
    27% {
      transform: rotate(90deg);
    }
    56% {
      transform: rotate(180deg);
    }
    80% {
      transform: rotate(2700deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
#headmain {
  padding-top: 100px;
  .text {
    h1 {
      font-family: $font-family;
      width: 545px;
      height: 16px;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 16px;
    }
    h2 {
      font-family: $font-family;
      width: 545px;
      height: 192px;
      font-weight: 700;
      font-size: 64px;
      line-height: 64px;
      font-style: normal;
      letter-spacing: -2%;
    }
    h4 {
      width: 448px;
      height: 48px;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      font-family: $font-family;
      color: $colorGray;
    }
  }
  .desc {
    padding-top: 40px;
    display: flex;
    button {
      border: none;
      margin-right: 50px;
      width: 155px;
      height: 48px;
      border-radius: 90px;

      padding: 16px, 24px, 16px, 24px;
    }
    .download {
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      text-align: center;
      line-height: 16px;
      background-color: $primarycolor;
      color: $colorWhite;
      transition: 0.4s linear;
      &:hover {
        background-color: $colorWhite;
        color: $colorblack;
        border: 2px solid $colorGray;
        letter-spacing: 1.2px;
      }
    }
    .Book {
      border: 2px solid $colorGray;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      text-align: center;
      line-height: 16px;
      background-color: $colorWhite;
      color: $colorblack;
      transition: 0.4s linear;
      &:hover {
        background-color: $primarycolor;
        color: $colorWhite;
        letter-spacing: 1.2px;
        border: none;
      }
    }
  }
  .toTop {
    cursor: pointer;
    img {
      width: 170px;
      height: 40px;
      margin-top: 100px;
    }
  }
  .right {
    width: 512.68px;

    height: 590.85px;
    img {
      max-width: 100%;
      margin: -99px -20px 0px 15px;
    }
  }
}
#sliders {
  h4 {
    padding-bottom: 50px;
    height: 24px;
    font-family: $font-family;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .sliderImg {
    cursor: pointer;
    img {
      width: 167px;
      height: 64px;
      filter: contrast(0);
      transition: 0.3s linear;

      &:hover {
        filter: contrast(1);
      }
    }
  }
}
#work {
  padding-top: 156px;
  .workheading {
    h1 {
      font-weight: 700;
      font-style: normal;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -2%;
      text-align: center;
      font-family: $font-family;
    }
    h2 {
      width: 400px;
      height: 25px;
      font-family: "Poppins", sans-serif, "Prompt", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-style: 16px;
      line-height: 24px;
      text-align: center;
      display: -webkit-inline-box;
      font-size: 16px;
    }
  }
  .step {
    padding-top: 75px;
    .connect {
      padding-left: 40px;
    }
    .icon {
      transform: scale(1);
      transition: 0.4s linear;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .datas {
    padding-top: 120px;
    .headText {
      h1 {
        width: 256px;
        height: 24px;
        font-family: $font-family;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $colorblack;
        transform: scale(1);
        transition: 0.4s linear;

        &:hover {
          transform: scale(1.1);
        }
      }
      p {
        border-radius: 14px;
        padding-top: 15px;
        width: 256px;
        height: 88px;
        font-family: $font-family;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        transition: 0.4s linear;
        transform: scale(1);
        &:hover {
          background-color: $colorblack;
          color: $colorWhite;
          transform: scale(1.2);
        }
      }
    }
  }
}
#train {
  .trainer {
    padding-top: 170px;
  }
  .intro {
    h1 {
      width: 448px;
      height: 128px;
      font-weight: 700;
      font-style: normal;
      font-size: 55px;
      line-height: 54px;
      letter-spacing: -2%;
      color: $colorblack;
      font-family: $font-family;
    }
    h4 {
      width: 448px;
      height: 128px;
      font-family: $font-family;
      font-weight: 400;
      font-style: normal;
      font-size: 17px;
      line-height: 32px;
      letter-spacing: -1%;
    }
  }
  .start {
    border: none;
    margin-right: 50px;
    width: 145px;
    height: 44px;
    border-radius: 90px;

    padding: 16px, 24px, 16px, 24px;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    background-color: $primarycolor;
    color: $colorWhite;
    transition: 0.4s linear;
    &:hover {
      background-color: $colorWhite;
      color: $colorblack;
      border: 2px solid $colorGray;
      letter-spacing: 1.2px;
    }
  }
  .tradeImg {
    width: 560.54px;
    height: 673.41px;
    img {
      max-width: 100%;
      margin: 0 auto;
      padding-left: 65px;
      margin-left: 70px;
    }
  }
  .imgRow {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
#bookClass {
  padding-top: 160px;
  .bookImg {
    width: 624px;
    height: 748px;
    img {
      max-width: 100%;
    }
  }
  .newcol {
    background: #dcd9d938;
    box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
    border-radius: 20px;

    width: 544px;
    height: 748px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 49px;
    .bookData {
      .head {
        h1 {
          width: 448px;
          height: 56px;
          font-family: $font-family;
          font-style: normal;
          font-weight: bold;
          font-size: 48px;
          line-height: 56px;
          color: $colorblack;

          letter-spacing: -0.02em;
        }
        p {
          width: 448px;
          height: 48px;
          font-family: $font-family;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          margin: 24px 0px;
          color: $colorGray;
        }
      }
    }
    .difretnBody {
      border: 1px solid lightgray;
      border-radius: 10px;
    }
    .body {
      .databody {
        padding-bottom: 50px;
        align-items: center;
        display: flex;
        .dataImg {
          margin-right: 22px;
          margin-top: 12px;
        }
        .dataText {
          h2 {
            width: 162px;
            height: 24px;
            font-family: $font-family;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $colorblack;
          }
          p {
            width: 257px;
            height: 48px;
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            margin: 4px 0px;
            color: $colorGray;
          }
        }
      }
    }
  }
}
#Fitnessexperience {
  padding-top: 160px;
  .exhead {
    h1 {
      font-family: $font-family;
      font-weight: 700;
      font-style: normal;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      color: $colorGray;
    }
    h2 {
      display: inline-block;
      width: 621px;
      height: 112px;
      font-family: $font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $colorblack;
    }
  }
  .bodycontainer {
    padding-top: 70px;

    .experienceData {
      width: 262px;
      height: 232px;
      &:hover .experienceIcon img {
        transform: scale(1.2);
      }

      .experienceIcon {
        img {
          transition: 0.4s linear;
          transform: scale(1);
        }
      }
      p {
        width: 262px;
        height: 48px;
        font-family: $font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $colorblack;
        margin: 32px 0px;
      }
      span {
        width: 262px;
        height: 72px;
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $colorGray;
        margin: 32px 0px;
      }
    }
  }
}
#simpleTrain {
  padding-top: 160px;
  .prohead {
    display: flex;
    p {
      width: 100px;
      height: 16px;
      margin: 23px 0px;
      font-family: $font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: $colorGray;
      text-transform: uppercase;
    }
  }
  .simpleText {
    h1 {
      width: 419px;
      height: 112px;
      font-family: $font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      color: $colorblack;
      letter-spacing: -0.02em;
      align-self: stretch;
      flex-grow: 0;
    }
    p {
      width: 419px;
      height: 48px;
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $colorGray;
    }
  }
}
#SimpleData {
  .smpdata {
    padding-top: 100px;
    .simpledata1 {
      h1 {
        width: 262px;
        height: 24px;
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $colorblack;
        margin: 16px 0px;
      }
      p {
        width: 262px;
        height: 72px;
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $colorGray;
        margin: 16px 0px;
      }
    }
    .imgdata {
      padding-top: 40px;
      display: flex;
      justify-content: space-around;
      .simpleImg {
        width: 548px;
        height: 650px;
        background: #e6e8ec;
        border-radius: 24px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
#MeetSimple {
  padding-top: 130px;
  .MeetText {
    display: inline-block;
    h1 {
      width: 544px;
      height: 56px;
      font-family: $font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $colorblack;
      margin: 20px 0px;
      display: inline-block;
    }
    p {
      width: 544px;
      height: 72px;
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: $colorGray;
      margin: 20px 0px;
    }
  }
  .dataList {
    padding-top: 40px;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      .dsc {
        background-color: #454545;
        color: white;
        font-weight: bold;
        width: 86px;
        height: 34px;
        border: 1px solid transparent;
        line-height: 27px;
        border-radius: 52px;
      }
      li {
        width: 135px;
        height: 34px;
        line-height: 27px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          text-decoration: none;
          color: $colorGray;
          margin-right: 13px;
        }
      }
    }
  }
  .fitnesdata {
    width: 156px;
    height: 241.12px;
    &:hover .imgbody h2 {
      color: green;
    }
    img {
      border: 1px solid transparent;
      border-radius: 22px;
      background: rgb(219, 219, 219);
      max-width: 100%;
      transition: 0.4s linear;
      transform: scale(1);
      filter: grayscale(0);
      //  filter: contrast(1);
      &:hover {
        transform: scale(1.2);
        filter: grayscale(1);
        // filter: contrast(0);
      }
    }
  }
  .imgbody {
    h2 {
      transition: 0.3s linear;
      padding-top: 11px;
      display: flex;
      font-size: 16px;
      justify-content: center;
      align-items: center;
    }
    p {
      padding-top: 3px;
      display: flex;
      font-size: 13px;
      color: $colorGray;
      justify-content: center;
      align-items: center;
    }
  }
}
.fitnescontainer {
  padding-top: 60px;
}
.size {
  padding-bottom: 70px;
}
