$font-family:'Poppins', sans-serif,
'Prompt', sans-serif;
$colorblack: #23262F;
$colorWhite:#FCFCFD;
$colorGray: #777E91;
$primarycolor:#FF592C;
$naturalColor:#B1B5C3;
$greencolor:#45B26B;
$redcolor:#EF466F;
$benocsecolor:#9757D7;
